<div style="position: fixed; bottom: 0; right: 0">
  <a href="/">
    <img
      src="{{ "sample-coupon.jpg" | asset_url }}"
      width="320"
      loading="lazy"
    />
  </a>
</div>
{% schema %}
  {
    "name": "Coupon Info",
    "target": "body",
    "settings": []
  }
{% endschema %}
